* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 Fonts
 */

@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(/fonts/Montserrat-Bold.ttf) format("truetype");
    font-weight: black;
}

@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Regular.ttf) format("truetype");
}

/**
 Body
 */

body {
    background: #EDF2EF;
    color: #000;
    font-family: Poppins;
    text-align: center;
}

body p {
    font-family: Poppins;
}

body h1, h2, h3, h4, h5 {
    font-family: Montserrat;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

/**
 Header
 */

header {
    background-color: #EDF2EF;
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.5em;
    color: #15B097;
    font-family: Montserrat-Bold;
    border-bottom: 5px solid #15B097;
    display: inline-block;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    header .wrapper {
        display: flex;
        text-align: center;
        align-items: center;
    }
    
    header .site-name {
        margin-bottom: 0px;
    }
}

@media (prefers-color-scheme: dark) {
    header .site-name {
        color: #d1d646;
        border-bottom: 5px solid #d1d646;
    }
}

/**
 Nav
 */

nav {
    flex: 1;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
    padding-left: 8px;
    padding-right: 8px;
}

nav li a.selected {
    color: #15B097;
}

@media (prefers-color-scheme: dark) {
    nav li a.selected {
        color: #d1d646;
    }
}


/**
 Hero
 */
    
.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    
.hero-section h1 {
    margin-bottom: 10px;
}

.hero-section h2 {
    font-weight: 300;
    font-style: italic;
    margin-top: 0;
}

.hero-section .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section .text-container h1 {
    font-family: Montserrat-Bold;
    font-size: xxx-large;
}

.hero-section .intro-text {
    font-size: medium;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-section .intro-text::before {
        display: inline-block;
        content: "";
        width: 4rem;
        height: 0.25rem;
        margin-right: 1rem;
        transform: translateY(-0.2rem);
        background-color: #000;
    }
}

.hero-section .intro-quote {
    margin-top: 20px;
}

.hero-section img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //-webkit-mask: url(images/image-mask.svg);
}

@media (max-width: 768px) {
    .hero-section {
        display: block;
    }
    
    .hero-section img {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .hero-section .intro-text::before {
        background-color: #fff;
    }
}

/**
 Typography
 */

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.highlight-text {
    color: #15B097;
}

@media (prefers-color-scheme: dark) {
    .highlight-text {
        color: #d1d646;
    }
}

/**
 Other
 */

.description {
    margin-bottom: 40px;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

@media (min-width: 768px) {
    .item-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
    
.item-list > li:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}
    
.item-list a {
    text-decoration: none;
}
    
.item-date {
    display: block;
    color: #999ea2;
    margin-bottom: 8px;
}

.item-list p:last-child {
    margin-bottom: 0;
}

.tag-list {
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #ddd;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.content > * {
    line-height: 160%;
    width: 80ch;
}

.content p {
    margin-bottom: 20px;
}

.content ul {
    margin-top: 40px;
    margin-bottom: 40px;
}

.content li {
    margin-bottom: 10px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

footer {
    color: #8a8a8a;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #292f36;
        color: #fff
    }

    .item-list > li {
        background-color: #333;
    }

    header {
        background-color: #292f36;
    }
    
    .hero-section img {
        border-color: black;
    }
}

@media(max-width: 768px) {
    .wrapper {
        padding: 40px 20px;
    }
}

/**
 Code Styles
 */
pre {
    margin-bottom: 1.5em;
    background-color: #1a1a1a;
    padding: 16px 0;
    border-radius: 16px;
}

pre code {
    font-family: monospace;
    display: block;
    padding: 0 20px;
    color: #a9bcbc;
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

pre code .keyword {
    color: #e73289;
}

pre code .type {
    color: #8281ca;
}

pre code .call {
    color: #348fe5;
}

pre code .property {
    color: #21ab9d;
}

pre code .number {
    color: #db6f57;
}

pre code .string {
    color: #fa641e;
}

pre code .comment {
    color: #6b8a94;
}

pre code .dotAccess {
    color: #92b300;
}

pre code .preprocessing {
    color: #b68a00;
}
